<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p class="p-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main>
            <h2>Entrar a mi sesion:</h2>
            <br />
            <div class="forma">
            <form action="/" method="POST">
              <label>E-mail:</label>
              <input
                class="textArea"
                type="email"
                name="email"
                id="email"
                placeholder=""
                required
              />
              <br />
              <br />
              <label>Constraseña:</label>
              <input
                class="textArea"
                type="password"
                name="pass"
                placeholder=""
                required
              />
              <p><a href="#">¿Olvidaste tu contraseña?</a></p>
              <!--No vimos como hacer esto-->
              <div class="checkbox">
              <input
                type="checkbox"
                name="RecordarMiUsuario"
                value="si"
                id="si"
                required
              />
              
              <label for="si">Recordar mi usuario</label>
              </div>
              <br />
              <br />
      
            <div class="contenedor-boton">
                <a href="#" type="submit" class="boton">Login</a>
            </div>
            <p><a href="/register">¿Sos nuevo? Crea tu cuenta acá</a></p>
            </div>
            </form>
            </div>
          </main>
        <footer>
            <div class="footer-estilo">
                <div class="tarjetas">
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="tarjetas">
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="tarjetas">
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    
                </div>
            </div>
            <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </footer>
    </body>
</html>